<h1>all restaurants</h1>

<ul>
<% @restaurants.each do |element|%>
<li> <%= link_to element.name, restaurant_path(element)%> </li>
<% end %>
</ul>

<p> <%= link_to name="add a new restaurant", new_restaurant_path %> </p>
